<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/home">home</a></li>
        <% } else { %>
        <li><a href="/auth/login">login</a></li>
        <% } %>
      </ul>
    </nav>
    <header>
      <h1>OAuth Practice</h1>
    </header>
    <main>
      <h3>WOOOO HOOOO!!!!</h3>
    </main>
  </body>
</html>
